*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background: #17181a;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden ;
}

#logo{
    color: white;
    font-family: "Abril Fatface";
    text-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
/* #logo:hover{
  text-shadow: 0 0 5px cyan,
  0 0 25px cyan , 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
} */

.nav-header{
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
    position: relative;
    z-index: 2;
}

.line1,.line2{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    pointer-events: none;
}

.slide{
    min-height: 100vh;
    margin: 0 auto 0 auto;
    width: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #17181a;
}
  .hero-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 ;
    flex-basis: 25rem;
    padding-left: 5rem;
    position: relative;
  }

  .hero-img{
    position: relative;
    flex: 1;
    flex-basis: 25rem;
    overflow: hidden;
  }
  .hero-img img {

    max-width: 600px;
    height: auto;
    object-fit: cover; 
  }
  
  .mustang-span{
    color: rgb(0, 0, 0);
  }
  .RollsRoyce-span{
    color: rgb(21, 211, 72);
  }
  .RangeRover-span{
    color: rgb(189, 192, 188);
  }
  .Lamborghini-span{
    color: rgb(238, 180, 8);
  }
  .Dodge-span{
    color: rgb(28, 193, 211);
  }
  .Supra-span{
    color: rgb(214, 89, 31);
  }
  .hero-desc h2{
    font-family: "Abril Fatface";
    font-size: 4rem;
  }
  .hero-desc p{
    padding: 3rem 0rem;
    font-size: 1.5rem;
    color: rgb(230, 226, 226);
  }
  .explore{
    padding: 1rem 2rem;
    background: none;
    border: none;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    text-decoration: none;
    align-self: flex-start;
    cursor: pointer;
  }
  .nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
  }
  .burger{
    cursor: pointer;
  }
  .nav-links{
    font-size: 4rem;
    flex-basis: 30rem;
  }
  .nav-links h3{
    padding: 3rem 0rem;
  }
  .contact{
    flex-basis: 30rem;
  }
  .contact h2{
    font-size: 3rem;
    padding: 2rem 0rem;
  }
  .contact p{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .reveal-img,.reveal-text{
    position: absolute;
    width: 100%;
    height: 150%;
    background: #17181a;
    left: 0;
    top: -15%;
  }
  .cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    transition-property: background, transform;
    transform-origin: 75% 75%;
  }
.cursor.nav-active{
  background: rgb(107, 183, 220);
  transform: scale(2);
}
.cursor.explore-active{
  background: white;
  transform: scale(3);
}
.cursor-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  transform: translate(-50% , -50%);
}
.title{
  position: relative;
  overflow: hidden;
}
.title-swipe{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}
.t-swipe1{
  background: rgb(212, 125, 32);
}
.t-swipe2{
  background: rgb(212, 125, 32);
}
.t-swipe3{
  background: rgb(212, 125, 32);
}
.t-swipe4{
  background: rgb(212, 125, 32);
}
.t-swipe5{
  background: rgb(212, 125, 32);
}
.t-swipe6{
  background: rgb(212, 125, 32);
}

  .scrollMagic-pin-spacer{
    position: static !important;
  }

body.hide{
  overflow: hidden;
}

/* other pages */

.mustang1969,.rrwraith,.rrvelar,.aventador,.dodge,.supra{
  min-height: 90vh;
  display: flex;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}
.mustang1969-video,.rrwraith-video,.rrvelar-video,.aventador-video,.dodge-video,.supra-video{
  height: 70vh;
  width: 30rem;
  justify-content: center;
  align-items: center;
}
.mustang1969-text,.rrwraith-text,.rrvelar-text,.aventador-text,.dodge-text,.supra-text{
  flex: 1;
  justify-content: top;
  align-items: top;
  position: relative;
  flex-basis: 25rem;
}
.mustang1969-text h1,.rrwraith-text h1,.rrvelar-text h1,.aventador-text h1,.dodge-text h1,.supra-text h1{
  font-family: "Abril Fatface";
  font-size: 3rem;
  padding: 2rem 0rem;
}

.mustang1969 h1{
  color: black;
}
.rrwraith h1{
  color: rgb(21, 211, 72);
}
.rrvelar h1{
  color: rgb(189, 192, 188);
}
.aventador h1{
  color: rgb(238, 180, 8);
}
.dodge h1{
  color: rgb(28, 193, 211);
}
.supra h1{
  color: rgb(214, 89, 31);
}
.mustang1969-text a,.rrwraith-text a,.rrvelar-text a,.aventador-text a,.dodge-text a,.supra-text a{
  font-size:1rem;
  padding: 2rem 2rem 0rem 0rem;
  margin-bottom: 10rem;
}
/* .supra-nr{
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
} */
